
.container{
    height: 100vh;
    width: 100%;
}
.boxs{
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    background-color: rgb(0, 136, 255);
}
.box2{
  
    background-color: crimson;
}
.box3{
    background-color: darkcyan;
}